* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  margin-top: 2em;
}

.nav li:hover {
  color: rgb(255, 128, 0);
  font-weight: bold;
}

.nav img {
  margin-left: 50px;
  width: 150px;
}

a {
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background: #fff;
  overflow: auto;
}

.popup-container {
  margin: auto;
  height: 90%;
  width: 90%;
  border: 2px solid #000;
  padding: 1rem;
}

.popup-header {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.thumbnail {
  width: 40%;
  background-image: url(../dist/images/loading.gif);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1rem;
}

.close-icon {
  font-weight: bolder;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-title {
  display: inline-block;
  margin-bottom: 1rem;
}

footer {
  border: 2px solid #000;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: calc(100% - 2px);
  margin: 2px;
}

.developer {
  font-weight: bold;
  color: black;
}

.hidden {
  display: none;
}
