@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(80, 80, 80);
  color: whitesmoke;
}

.nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  color: whitesmoke;
  font-size: x-large;
  margin-top: 0.5em;
  font-family: 'Bangers', cursive;
  font-weight: 400;
}

.counter {
  margin-left: 4em;
  font-family: 'Bangers', cursive;
  font-stretch: extra-expanded;
}

.card li {
  margin: 0.3em 0;
}

.nav li:hover {
  color: rgb(255, 128, 0);
  font-weight: bold;
}

.nav img {
  width: 6em;
}

#container {
  overflow-x: hidden;
  overflow: scroll;
  height: 70vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: auto;
  column-gap: 3.33%;
  row-gap: 1em;
  margin: 2em 4em;
  padding: 2em;
  border-radius: 25px;
  background-color: whitesmoke;
  color: #000;
  box-shadow: #000 10px 10px 25px;
  margin-bottom: 2.5em;
}

/* width */
#container::-webkit-scrollbar {
  width: 10px;
  margin-right: 25px;
}

/* Track */
#container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(182, 184, 183);
  border-radius: 10px;
  margin-right: 20px;
}

/* Handle */
#container::-webkit-scrollbar-thumb {
  background: rgb(255, 128, 0);
  border-radius: 10px;
}

/* Handle on hover */
#container::-webkit-scrollbar-thumb:hover {
  background: rgb(166, 86, 5);
}

.card {
  justify-content: space-around;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: #000 2px 2px 5px;
  padding: 1em;
}

.grid-container .card {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-items: center;
  align-items: center;
}

.card img {
  align-self: center;
  max-width: 40%;
}

.card .comment {
  padding: 0.8rem;
  margin: 1.2em;
  font-style: oblique;
  font-weight: bold;
  box-shadow: black 2px 2px 3px;
}

.text1 {
  font-weight: bold;
  font-size: large;
}

.text2 {
  font-weight: lighter;
  font-size: small;
}

.likes {
  background-image: url(../dist/images/heart.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  color: transparent;
  width: 2em;
  height: 1.5em;
  margin-bottom: 0.5em;
}

.likes:hover {
  background-image: url(../dist/images/blackHeart.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

a {
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background: #fff;
  overflow: auto;
  color: #000;
}

.popup-container {
  margin: auto;
  width: 90%;
  border: 2px solid #000;
  padding: 1rem;
}

.popup-header {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.thumbnail {
  width: 40%;
  background-image: url(../dist/images/loading.gif);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1rem;
}

.close-icon {
  font-weight: bolder;
}

.close-icon:hover {
  cursor: pointer;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.recipe-title {
  display: inline-block;
  margin-bottom: 1rem;
}

.comments-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0;
}

.comments-header {
  font-size: larger;
  font-weight: bolder;
}

.counter-span {
  margin-left: 0.5rem;
}

.comments-list {
  list-style: none;
  margin: 1rem 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 2px solid;
}

.comment-btn {
  box-shadow: 2px 2px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(80, 80, 80);
  padding: 2rem;
  width: 100%;
  margin: 0 2px;
  color: whitesmoke;
  font-size: medium;
  font-style: oblique;
  text-shadow: rgb(231, 123, 36) 3px 3px 2px;
}

.developer {
  font-weight: bold;
  color: whitesmoke;
}

.hidden {
  display: none;
}
